/* CSS ROOT */
#root {
  background-color: #333;
  width: 100%;
  height: 100vh;
}

/* CSS CORNICE COLONNA TABSGRID */
.bordo-soft {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
}

/* CSS TAB */

.tab-title {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  background-color: transparent;
  color: white;
  padding: 15px;
}

.tab-title:hover {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  background-color: white;
  color: #333;
  padding: 15px;
}

.tab-title.active {
  background-color: orange;
  color: white;
  border: 1px solid orange;
}

/* CSS TAB */
